#container {
  display: none;
  width: fit-content;
  position: relative; // 座標指定を相対値指定にする
}
#video {
  transform: scaleX(-1); // 左右反転
}
#faceCanvas {
  transform: scaleX(-1); // 左右反転
  position: absolute; // 座標指定を絶対値指定にする
  left: 0; // X座標を0
  top: 0; // Y座標を0
}

.dialogueBase {
  width: fit-content;
  padding: 2rem;
  border-radius: 20px;
  background-color: rgba(229, 229, 229, 0.872);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  p {
    color: #252525;
    font-size: 2.5rem;
  }
}

.messageArea {
  width: 65vw;
  position: fixed;
  right: 17vw;
  bottom: calc(150 / 1200 * 100vh);
}

.recordingBtnArea {
  width: fit-content;
  position: fixed;
  left: 3rem;
  bottom: 3rem;
  button {
    span {
      font-size: 2.5rem;
      color: #fff;
    }
  }
}

.mainAreaLogo {
  width: 13rem;
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  animation: rotate_anime 4s;
  animation-iteration-count: infinite;
}

#modelArea {
  width: fit-content;
  margin: 0 auto;
  canvas {
    width: calc(100vw*(4/7));
    height: 100vh;
    border-radius: 10px;
  }
}

@keyframes pulseMotion {
  0% {
    transform: translate(-50%, -50%) scale(1, 1);
    background-color: #b42f2f8a;
  }
  100% {
    transform: translate(-50%, -50%) scale(6.5, 6.5);
    background-color: #b42f2f00;
  }
}
.inner {
  width: fit-content;
  z-index: 5;
  margin: 0.5rem;
}
.innerFlex {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
  justify-content: space-between;
}
.msgFlex {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.point {
  display: block;
  position: relative;
  width: 1.3rem;
  height: 1.3rem;
  background-color: #604444;
  border-radius: 50%;
  transition: background-color cubic-bezier(0.215, 0.61, 0.355, 1) .4s;
  &::after {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
    border-radius: 50%;
    transition: opacity linear 0.4s;
    content: '';
  }
}
.-active {
  background-color: #b42f2f;
  &::after {
    animation: pulseMotion 1.4s linear infinite;
  }
}

.picFlex {
  height: fit-content;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.pictureArea {
  width: 15rem;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  img {
    position: absolute;
    width: 100%;
    opacity: 0;
    animation: change-img-anim 30s infinite;
    &:nth-of-type(1) {
      animation-delay: 0s;
    }
    &:nth-of-type(2) {
      width: auto;
      height: 10rem;
      margin: 0 auto;
      animation-delay: 7s;
    }
    &:nth-of-type(3) {
      width: auto;
      height: 10rem;
      margin: 0 auto;
      animation-delay: 14s;
    }
    &:nth-of-type(4) {
      width: auto;
      height: 10rem;
      margin: 0 auto;
      animation-delay: 21s;
    }
  }
}
@keyframes change-img-anim {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  30% {
    opacity: 1;
  }

  35% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
