{% extends "layout.html" %}{% block content %}

<div id="face">
  <!-- トップページ -->
  <transition>
    <div id="modal" v-show="pageChangeFlag">
      <div id="modalContents">
        <p>Automatic Visitor Reception System</p>
        <img src="../static/img/Salieri.png" alt="Salieri logo">
      </div>
      <div class="author">
        <p>Detection mode</p>
        <p>Produced by UDN</p>
      </div>
    </div>
  </transition>
  <!-- 顔認識用カメラ（非表示） -->
  <div id="container">
    <video id="video" width="500" height="300" autoplay playsinline="true"></video>
    <canvas id="faceCanvas" width="500" height="300"></canvas>
  </div>
  <!--<button style="color:#fff;display: none;" @click="faceFuncStop()">Camera Stop</button>-->
  <!-- 対話ページ -->
  <div id="mainArea">
    <div id="modelArea" class="topModelArea">
      <canvas id="canvas"></canvas>
    </div>
    <!-- select area -->
    <div v-if="dialogueData && choiceData && dialogueData[dialogueCount].dialogueName === 'hello'">
      <p v-for="count in choiceData[0].choice.length">[[ choiceData[0].choice[count - 1] ]]
      </p>
    </div>
    <div v-if="dialogueData && choiceData && dialogueData[dialogueCount].dialogueName === 'aboutMe'">
      <p v-for="count in choiceData[1].choice.length">[[ choiceData[1].choice[count - 1] ]]
      </p>
    </div>
    <!-- message area -->
    <div  v-if="dialogueData">
      <p v-for="count in dialogueData[dialogueCount].dialogue.length">[[ dialogueData[dialogueCount].dialogue[count - 1] ]]</p>
    </div>
    <img src="../static/img/Salieri.png" alt="Salieri logo">
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@0.18.0/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bubbly-bg@1.0.0/dist/bubbly-bg.js"></script>
<script src="../static/js/clmtrackr.js"></script>
<script src="../static/js/model_pca_20_svm.js"></script>
<script src="../static/webpack/main.js"></script>

{% endblock %}
